*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100vw;
  height: 100vh;
}

.roma {
  width: 100%;
  height: 400px;
  background-image: url("img/roma3.png");
  background-size: cover;
  position: relative;
}

.londra {
  width: 100%;
  height: 400px;
  background-image: url("img/londra2.png");
  background-size: cover;
  position: relative;
}

.tokyo {
  width: 100%;
  height: 400px;
  background-image: url("img/tokyo.png");
  background-size: cover;
  position: relative;
}

.roma, .londra, .tokyo {
  margin: 10px 0;
}

#city {
  color: white;
  font-style: italic;
  opacity: 85%;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 255, 0.2)
 }
